@import '../../../style/variables.scss';

footer {
    color: $dark;
    margin-top: 8rem;

    a {
        font-size: 2rem;
        font-weight: 600;
        color: $dark;
    }

    &:hover {
        background-color: white;
        transition: 0.1s ease-in-out;

        a {
            text-decoration: underline;
            text-underline-offset: 1rem;
        }
    }
}
