@import '../../../style/styles.scss';

.main {
    margin-top: 6rem;
    @include media {
        flex-direction: column-reverse !important;
    }
}

img {
    width: 100%;
    max-height: 24rem;
    object-fit: cover;
    box-sizing: border-box;
    opacity: 0.7;
    transition: all 0.3s ease-in;
    cursor: pointer;
    
    &:hover {
        opacity: 1;
    }
}

.container {
    padding-bottom: 8rem;
    padding-top: 14rem;

    @include media(1024px) {
        padding-bottom: 4rem;
        padding-top: 7rem;
    }

    &.image,
    &.grid {
        padding: 0 2rem;
    }

    &.main {
        padding-top: 8rem;
    }
}

.line {
    border-top: 2px solid $off;
    width: 8rem;
    justify-self: center;
    margin: 1rem 2rem;

    @include media(1024px) {
        display: none;
    }
}

p {
    color: $off;

    &:hover {
        color: white;
    }
}

.flex-col {
    gap: 0.8rem;
    margin-top: -1rem;

    p {
        padding-top: 1.4rem;
        width: 40%;
        font-size: 1rem;
        line-height: 2rem;
    }

    @include media(1280px) {
        p {
            width: 60%;
            padding-top: 0;
        }
    }

    @include media(1024px) {
        padding: 1rem 0;

        p {
            width: 80%;
        }
    }
}

.flex {
    align-items: flex-start;
    display: flex;
    gap: 1rem;

    @include media(1024px) {
        flex-direction: column;
    }
}

p {
    span {
        font-size: 2rem;
        font-weight: 600;
    }

    @include media(1024px) {
        span {
            font-size: 1.4rem;
        }
    }
}

h3 {
    @include media(1024px) {
        padding-top: 0;
    }
}

a {
    background-color: $red;
    border-radius: 2rem;
    min-width: auto;
    padding: 0;
    margin: 0;
    text-align: center;
    padding: 1rem 2rem;
    min-width: fit-content;
}

.role {
    min-width: fit-content;

    h3:not(:first-child) {
        padding-top: 1rem;
    }
}

.grid {
    display: grid;
    gap: 1rem;
    box-sizing: border-box;

    &.column-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &.column-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    img {
        padding: 0;
        margin: 0;
    }
}

.mockups {
    @include flex(row, flex-start, center, 100%);
    flex-wrap: wrap;

    img {
        width: auto;
        max-height: 16rem;
        object-fit: cover;

        &.mobile {
            max-height: 20rem;
        }
    }
}
