<!-- BANNER -->
<img src="https://images.unsplash.com/photo-1550859492-d5da9d8e45f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
    alt="Project Banner">

<!-- DESCRIPTION -->
<section class="container">
    <div class="flex desc">

        <!-- * PROJECT -->
        <p class="nowrap">Project <span>01</span></p>
        <!-- * LINE -->
        <span class="line"></span>
        <!-- * TITLE -->
        <div class="flex flex-col">
            <h2 class="">Agree 2 Disagree</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quae neque aut delectus. Voluptatibus,
                recusandae soluta.</p>
        </div>
        <!-- * BUTTON -->
        <button>View Project</button>

    </div>
</section>

<!-- BANNER -->
<div class="container">
    <img src="https://images.unsplash.com/photo-1550859492-d5da9d8e45f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        alt="Project Banner" class="">
</div>


<!-- DESCRIPTION -->
<section class="container">
    <div class="flex desc">

        <!-- * PROJECT -->
        <p class="nowrap">Project <span>02</span></p>
        <!-- * LINE -->
        <span class="line"></span>
        <!-- * TITLE -->
        <div class="flex flex-col">
            <h2 class="">Agree 2 Disagree</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quae neque aut delectus. Voluptatibus,
                recusandae soluta.</p>
        </div>
        <!-- * BUTTON -->
        <button>
            <a [routerLink]="['/projects', name]">AQUI</a>
        </button>

    </div>
</section>