<!-- <section class="container">
    <div class="fleex">
        <ul>
            <li *ngFor="let projects of projectList$ | async">{{projects.title}}</li>
        </ul>
    </div>
</section> -->






<!-- BANNER -->
<img src="https://images.unsplash.com/photo-1550859492-d5da9d8e45f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
    alt="Project Banner" class="big">

<!-- DESCRIPTION -->
<section class="container">
    <div class="flex">

        <p class="nowrap">Project <span>01</span></p>
        <span class="line"></span>
        <div class="flex flex-col">
            <h2 class="">Agree 2 Disagree</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quae neque aut delectus. Voluptatibus,
                recusandae soluta.</p>
        </div>
        <a>View Project</a>

    </div>
</section>

<!-- BANNER -->
<div class="container">
    <img src="https://images.unsplash.com/photo-1550859492-d5da9d8e45f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        alt="Project Banner" class="">
</div>


<!-- DESCRIPTION -->
<section class="container">
    <div class="flex">

        <p class="nowrap">Project <span>02</span></p>
        <span class="line"></span>
        <div class="flex flex-col">
            <h2 class="">Agree 2 Disagree</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quae neque aut delectus. Voluptatibus,
                recusandae soluta.</p>
        </div>
        <a [routerLink]="['/projects', 'fgyhh']">AQUI</a>
    </div>
</section>