<article class="container flex main">

    <!-- * PROJECT -->
    <div class="role">
        <h3>Role</h3>
        <p>Visual Designer</p>
        <p>User Experience</p>
        <h3>Date</h3>
        <p>Jan 2020</p>
        <h3>Duration</h3>
        <p>5 weeks</p>
    </div>
    <!-- * LINE -->
    <span class="line"></span>
    <!-- * TITLE -->
    <div class="flex flex-col">
        <h1 class="">Agree 2 Disagree</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quae neque aut delectus. Voluptatibus,
            recusandae soluta.</p>
    </div>

</article>

<!-- BANNER -->
<div class="container image">
    <img src="https://images.unsplash.com/photo-1550859492-d5da9d8e45f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        alt="Project Banner" class="">
</div>

<!-- THE PROBLEM -->
<article class="container flex">
    <p>01/02</p>
    <!-- * LINE -->
    <span class="line"></span>
    <div class="flex flex-col">
        <h2>The Problem</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, esse, voluptas veritatis praesentium
            eveniet itaque nesciunt deleniti nemo repudiandae numquam deserunt quaerat ducimus. Delectus a est, error
            animi ut deleniti quae voluptatum nisi iste autem incidunt doloribus aliquam repellendus sed. Rerum,
            architecto amet. Mollitia vel corrupti atque non.</p>
    </div>
</article>

<!-- BANNER -->
<div class="container image">
    <img src="https://images.unsplash.com/photo-1550859492-d5da9d8e45f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        alt="Project Banner" class="">
</div>

<!-- THE SOLUTION -->
<article class="container flex">
    <p>01/02</p>
    <!-- * LINE -->
    <span class="line"></span>
    <div class="flex flex-col">
        <h2>The Solution</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, esse, voluptas veritatis praesentium
            eveniet itaque nesciunt deleniti nemo repudiandae numquam deserunt quaerat ducimus. Delectus a est, error
            animi ut deleniti quae voluptatum nisi iste autem incidunt doloribus aliquam repellendus sed. Rerum,
            architecto amet. Mollitia vel corrupti atque non.</p>
    </div>
</article>

<!-- BANNER -->
<div class="container image">
    <img src="https://images.unsplash.com/photo-1550859492-d5da9d8e45f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        alt="Project Banner" class="">
</div>

<!-- THE PERSONA -->
<article class="container flex">
    <p>01/02</p>
    <!-- * LINE -->
    <span class="line"></span>
    <div class="flex flex-col">
        <h2>The Persona</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, esse, voluptas veritatis praesentium
            eveniet itaque nesciunt deleniti nemo repudiandae numquam deserunt quaerat ducimus. Delectus a est, error
            animi ut deleniti quae voluptatum nisi iste autem incidunt doloribus aliquam repellendus sed. Rerum,
            architecto amet. Mollitia vel corrupti atque non.</p>
    </div>
</article>

<!-- BANNER -->
<div class="container grid column-2">
    <img src="https://images.unsplash.com/photo-1550859492-d5da9d8e45f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        alt="Project Banner" class="">
    <img src="https://images.unsplash.com/photo-1550859492-d5da9d8e45f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        alt="Project Banner" class="">
</div>

<!-- THE COMPETITION -->
<article class="container flex">
    <p>01/02</p>
    <!-- * LINE -->
    <span class="line"></span>
    <div class="flex flex-col">
        <h2>Competitive Analysis</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, esse, voluptas veritatis praesentium
            eveniet itaque nesciunt deleniti nemo repudiandae numquam deserunt quaerat ducimus. Delectus a est, error
            animi ut deleniti quae voluptatum nisi iste autem incidunt doloribus aliquam repellendus sed. Rerum,
            architecto amet. Mollitia vel corrupti atque non.</p>
    </div>
</article>

<!-- BANNER -->
<div class="container image">
    <img src="https://images.unsplash.com/photo-1550859492-d5da9d8e45f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        alt="Project Banner" class="">
</div>

<!-- THE DESIGN -->
<article class="container flex">
    <p>01/02</p>
    <!-- * LINE -->
    <span class="line"></span>
    <div class="flex flex-col">
        <h2>Design</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, esse, voluptas veritatis praesentium
            eveniet itaque nesciunt deleniti nemo repudiandae numquam deserunt quaerat ducimus. Delectus a est, error
            animi ut deleniti quae voluptatum nisi iste autem incidunt doloribus aliquam repellendus sed. Rerum,
            architecto amet. Mollitia vel corrupti atque non.</p>
    </div>
</article>

<!-- BANNER -->
<div class="container grid column-3">
    <img src="https://images.unsplash.com/photo-1550859492-d5da9d8e45f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        alt="Project Banner" class="">
    <img src="https://images.unsplash.com/photo-1550859492-d5da9d8e45f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        alt="Project Banner" class="">
    <img src="https://images.unsplash.com/photo-1550859492-d5da9d8e45f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        alt="Project Banner" class="">
</div>

<!-- THE TESTING -->
<article class="container flex">
    <p>01/02</p>
    <!-- * LINE -->
    <span class="line"></span>
    <div class="flex flex-col">
        <h2>Testing</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, esse, voluptas veritatis praesentium
            eveniet itaque nesciunt deleniti nemo repudiandae numquam deserunt quaerat ducimus. Delectus a est, error
            animi ut deleniti quae voluptatum nisi iste autem incidunt doloribus aliquam repellendus sed. Rerum,
            architecto amet. Mollitia vel corrupti atque non.</p>
    </div>
</article>

<!-- BANNER -->
<div class="container image">
    <img src="https://images.unsplash.com/photo-1550859492-d5da9d8e45f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        alt="Project Banner" class="">
</div>

<!-- THE CONCLUSION -->
<article class="container flex">
    <p>01/02</p>
    <!-- * LINE -->
    <span class="line"></span>
    <div class="flex flex-col">
        <h2>Conclusion</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, esse, voluptas veritatis praesentium
            eveniet itaque nesciunt deleniti nemo repudiandae numquam deserunt quaerat ducimus. Delectus a est, error
            animi ut deleniti quae voluptatum nisi iste autem incidunt doloribus aliquam repellendus sed. Rerum,
            architecto amet. Mollitia vel corrupti atque non.</p>
    </div>
</article>

<app-footer-next></app-footer-next>