<section>
    <div class="container">
        <h4>- About me -</h4>
        <h1>My Journey</h1>
        <img src='../../../assets/mf.jpg' alt="" class="mf">
        <p>Hello! I'm a UI/UX designer with a specialization in visuals and interactions. I'm also well-versed in
            frontend development, with real-life experience in designing and coding projects from scratch. Graduating
            with a degree in graphic design, I've been fortunate to work as a freelancer and contractor with various
            companies since 2018. <br /><br />

            My background as a frontend developer has given me a unique perspective on designing user experiences that
            are not only visually appealing but also functional and seamless in their interactions. I enjoy the process
            of bringing designs to life through coding and finding innovative solutions to complex challenges.</p>
    </div>
</section>
<app-footer-next></app-footer-next>