@mixin media($screen: 1024px) {
    @media (max-width: $screen) {
        @content;
    }
}

@mixin flex(
    $direction: row,
    $justify: center,
    $items: center,
    $width: 100%,
    $gap: 2rem
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $items;
    width: $width;
    box-sizing: border-box;
    gap: $gap;
}
