:root {
    --red: #ea2e00;
    --green: #9dbdb8;
    --dark: #111111;
    --off: #ffffff50;
    --gap-sm: 0.4rem;
    --gap-md: 0.8rem;
    --gap-lg: 1rem;
    --xl: 1280px;
    --lg: 1024px;
    --md: 768px;
    --sm: 640px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@mixin flex(
    $direction: row,
    $justify: center,
    $items: center,
    $width: 100%,
    $gap: 2rem
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $items;
    width: $width;
    box-sizing: border-box;
    gap: $gap;
}

@mixin media($screen: 1024px) {
    @media (max-width: $screen) {
        @content;
    }
}

// ! ELEMENTS

* {
    box-sizing: content-box;
    transition: 0.2s ease-in-out;
}

body {
    background-color: var(--dark);
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 4rem;
    line-height: 5rem;
}

h2 {
    font-size: 2rem;
}

h3,
button {
    font-size: 1rem;
}

p {
    font-size: 0.8rem;
    line-height: 1.6rem;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border-radius: 4rem;
    padding: 1rem 1.5rem;
    background-color: var(--red);
    border-style: none;
    color: white;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background-color: var(--green);
    }
}

img {
    border-radius: 0.4rem;
}

footer {
    padding: 6rem 0;
    background-color: var(--green);
}

// ! CLASSES

.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: var(--gap-md);
}

.container {
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    min-height: 100%;
    box-sizing: border-box;

    @include media(1024) {
    }
}

.flex {
    @include flex();

    &.justify-between {
        justify-content: space-between;
    }
    &.flex-col {
        flex-direction: column;
        align-items: flex-start;
    }
}

// ! CHECKBOX

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
