@import './variables.scss';
@import './mixins.scss';

* {
    box-sizing: content-box;
    transition: 0.2s ease-in-out;
}

body {
    background-color: $dark;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 4rem;
    line-height: 5rem;
}

h2 {
    font-size: 2rem;
}

h3,
button {
    font-size: 0.8rem;
}

p {
    font-size: 0.8rem;
    line-height: 1.6rem;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border-radius: 4rem;
    padding: 0.8rem 1.6rem;
    background-color: $red;
    border-style: none;
    color: white;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background-color: $green;
    }
}

img {
    border-radius: 0.4rem;
}

footer {
    padding: 6rem 0;
    background-color: $green;
}

// ! CLASSES

.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: var(--gap-md);
}

.container {
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    min-height: 100%;
    box-sizing: border-box;

    @include media(1024) {
    }
}

.flex {
    @include flex();

    &.justify-between {
        justify-content: space-between;
    }
    &.flex-col {
        flex-direction: column;
        align-items: flex-start;
    }
}
