:root {
	--red: #ea2e00;
	--green: #9dbdb8;
	--dark: #1b1d29;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-size: 4rem;
	color: var(--red);
}
