@import './../../../style/variables.scss';
@import './../../../style/styles.scss';
@import './../../../style/mixins.scss';

.padre {
    margin-top: 7rem;
    margin-bottom: 7rem;

    &:hover {
        img {
            opacity: 1;
            filter: none;
        }
    }
}

img {
    width: 100%;
    max-height: 24rem;
    object-fit: cover;
    opacity: 0.2;
    filter: grayscale(100%);
    transition: all 0.5s ease-in;

    &.big {
        border-radius: 0;
    }
}

section {
    padding-top: 6rem !important;
    padding-bottom: 4rem !important;

    @include media(1024px) {
        padding-top: 4rem;
        padding-bottom: 7rem;
    }
}

.line {
    border-top: 2px solid $off;
    width: 8rem;
    justify-self: center;
    margin: 1rem 2rem;

    @include media(1024px) {
        display: none;
    }
}

p {
    color: $off;
}

.flex-col {
    gap: 0.8rem;
    margin-top: -1rem;

    p {
        padding-top: 1.4rem;
        width: 40%;
        font-size: 1rem;
        line-height: 2rem;
    }

    @include media(1280px) {
        p {
            width: 60%;
            padding-top: 0;
        }
    }

    @include media(1024px) {
        padding: 1rem 0;

        p {
            width: 80%;
        }
    }
}

.flex {
    align-items: flex-start;
    display: flex;
    gap: 1rem;
    
    @include media(1024px) {
        flex-direction: column;
    }
}

p {
    span {
        font-weight: 800;
    }
}

h2 {
    padding-top: 0.4rem;

    @include media(1024px) {
        padding-top: 0;
    }
}

.nowrap {
    display: flex;
    justify-content: flex-start;
    gap: 0.4rem;
}

a {
    background-color: $red;
    border-radius: 2rem;
    min-width: auto;
    padding: 0;
    margin: 0;
    text-align: center;
    padding: 1rem 2rem;
    min-width: fit-content;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background-color: $green;
    }
}

