<nav class="container">
    <div class="flex justify-between">

        <!-- LOGO -->
        <a routerLink="/">
            <img src="../../../assets/mx-logo-red.svg" alt="Logo" />
        </a>

        <!-- MENU -->
        <ul class="flex">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/projects">Projects</a></li>
            <li><a routerLink="/ddwqdwqd">Random</a></li>
            <li>Contact</li>
        </ul>

        <!-- TOGGLE -->
        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
        </label>

    </div>
</nav>