@import '../../../style/styles.scss';

nav {
    padding: 2rem !important;
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;

    li {
        font-weight: 600;

        h3 {
            cursor: pointer;
        }
    }

    @include media(1024px) {
        button {
            display: none;
        }

        ul {
            justify-content: flex-end;
        }
    }

    @include media(768px) {
        ul {
            display: none;
        }
    }
}

.contact {
    position: relative;
}

.second-column {
    @include flex(row, flex-end, center, auto, 2rem);
}

.nav-child {
    @include flex(row, space-between, center, 100%, 2rem);
    max-width: 1440px;
    margin: auto;

    @include media(768px) {
        justify-content: center;
    }
}

.icon {
    font-weight: 200;
}
