<nav>
    <div class="nav-child">
        <!-- LOGO -->
        <a routerLink="/">
            <img src="../../../assets/mx-logo-red.svg" alt="Logo" />
        </a>

        <!-- MENU -->
        <ul class="second-column">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/projects">Projects</a></li>
            <li class="contact">
                <div>
                    <h3 (click)="openContact()">Contact</h3>
                    <app-contact-modal *ngIf="sharedService.contactState"></app-contact-modal>
                </div>
            </li>
            <li> <i class="ri-moon-line"></i></li>
        </ul>
    </div>
</nav>