<nav>
    <div class="nav-child">
        <!-- LOGO -->
        <a routerLink="/">
            <img src="../../../assets/mx-logo-red.svg" alt="Logo" />
        </a>

        <!-- MENU -->
        <ul class="second-column">
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/projects">Projects</a></li>
            <li>
                <a href="mailto:max@maxflores.dev">
                    <i class="ri-mail-line ri-xl icon"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>