@mixin media($screen: 1024px) {
    @media (max-width: $screen) {
        @content;
    }
}

nav {
    padding: 2rem;
}

nav {
    li {
        font-weight: 800;

        h3 {
            cursor: pointer;
        }
    }

    @include media(1024px) {
        button {
            display: none;
        }

        ul {
            justify-content: flex-end;
        }
    }

    @include media(768px) {
        ul {
            display: none;
        }
    }
}

.contact {
    position: relative;
}
